flows.json
[
    {
        "id": "138c7f66a3eaa3bc",
        "type": "tab",
        "label": "Sistema de Monitoramento - Global Solution",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "80adc0feea7fd131",
        "type": "mqtt in",
        "z": "138c7f66a3eaa3bc",
        "name": "Wokwi",
        "topic": "/Medidor/AllData",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "cc08b5cacd13759d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 330,
        "y": 160,
        "wires": [
            [
                "cc15d60cfcbeead2",
                "4608c7452f5d2411",
                "b0c206eea5c28c8b"
            ]
        ]
    },
    {
        "id": "cc15d60cfcbeead2",
        "type": "debug",
        "z": "138c7f66a3eaa3bc",
        "name": "debug 1",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 280,
        "wires": []
    },
    {
        "id": "796d4553d4347ae5",
        "type": "mqtt out",
        "z": "138c7f66a3eaa3bc",
        "name": "",
        "topic": "tago/data/post",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "238bfee5fbd32cac",
        "x": 900,
        "y": 160,
        "wires": []
    },
    {
        "id": "4608c7452f5d2411",
        "type": "function",
        "z": "138c7f66a3eaa3bc",
        "name": "function Tago",
        "func": "var obj = {\n    payload:[{\n        \"variable\": \"Temperatura\",\n        \"unit\": \"°C\",\n        \"value\": msg.payload.temperatura\n    },{\n        \"variable\": \"Turbidez\",\n        \"unit\": \"%\",\n        \"value\": msg.payload.turbidez\n    }]\n};\n\n\nreturn obj;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 160,
        "wires": [
            [
                "796d4553d4347ae5"
            ]
        ]
    },
    {
        "id": "b0c206eea5c28c8b",
        "type": "function",
        "z": "138c7f66a3eaa3bc",
        "name": "function Firebase",
        "func": "var dt_leitura = new Date();\n\nvar obj = {\n    payload: {\n        \"temperatura\": parseFloat(msg.payload.temperatura),\n        \"turbidez\": parseFloat(msg.payload.turbidez),\n        \"dt_leitura\": dt_leitura.toJSON()\n    }\n};\n\nreturn obj;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 220,
        "wires": [
            [
                "e0790a1e17c3e226"
            ]
        ]
    },
    {
        "id": "e0790a1e17c3e226",
        "type": "firebase-out",
        "z": "138c7f66a3eaa3bc",
        "name": "",
        "database": "581587ad259341d4",
        "path": "leituras",
        "pathType": "str",
        "priority": 1,
        "queryType": "push",
        "x": 900,
        "y": 220,
        "wires": []
    },
    {
        "id": "cc08b5cacd13759d",
        "type": "mqtt-broker",
        "name": "MQTT IN",
        "broker": "test.mosquitto.org",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "238bfee5fbd32cac",
        "type": "mqtt-broker",
        "name": "MQTT OUT ",
        "broker": "mqtt.tago.io",
        "port": "1883",
        "clientid": "Teste_mqtt",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "581587ad259341d4",
        "type": "database-config",
        "name": "My Database",
        "authType": "anonymous",
        "claims": {},
        "createUser": false,
        "useClaims": false
    }
]